:root {
    font-family: 'Open Sans', sans-serif;
    color-scheme: light dark;
    --highlighter: #d3869b; 
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #F0F0F0;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --highlighter: #b16286;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

footer hr {
    margin-top: 3rem;
}

.content {
    max-width: 1000px;
    padding: 2rem;
    margin-inline: auto;
}

.text-post {
    white-space: pre-wrap;
    line-height: 150%;
}

.forum-list {
    padding: 0;
    list-style: none;
}

.dev-info {
    opacity: 0.5;
}

#search {
    font-family: inherit;
    padding: 0.5rem;
    width: 100%;
}

#search-results {
    margin-top: 2rem;
}

.highlighted {
    background-color: var(--highlighter);
}

.search-error {
    padding: 0.5rem;
    max-width: max-content;
    background-color: var(--highlighter);
}

.card {
    margin-block: 1rem;
}

.author {
    opacity: 0.7;
    font-size: 0.9em;
}

.center {
    text-align: center;
}

#search-info {
    margin-top: 2rem;
}
