:root {
    color-scheme: light dark;
    --red: #fb4934;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.content {
    max-width: 1000px;
    padding: 2rem;
    margin-inline: auto;
}

.text-post {
    white-space: pre-wrap;
    line-height: 150%;
}

.forum-list {
    padding: 0;
    list-style: none;
}

.dev-info {
    color: gray;
}

#search {
    padding: 0.5rem;
    width: 100%;
}

#search-results {
    margin-top: 2rem;
}

.highlighted {
    background-color: var(--red);
}

.search-error {
    padding: 0.5rem;
    max-width: max-content;
    background-color: var(--red);
}

.card {
    margin-block: 1rem;
}

.author {
    opacity: 0.7;
    font-size: 0.9em;
}
