{{ define "content" }}
    <h1>Forums</h1>
    <ul class="forum-list">
        {{ range . }}
            <li>• <a href="/list?forum={{ .Id }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
{{ end }}
