{{ define "content" }}
    <h1>{{ .Name }} | {{ .Offset }} - {{ .NextRange }}</h1>
    {{ range .Items }}
        <li><a href="/post?post_id={{ .PostId }}&forum_id={{ .ForumId }}">{{ .Name }}</a></li>
    {{ end }}
    <center>
    {{ if ne .Offset 0 }}
        <a href="/list?forum={{ .ForumId }}&offset={{ .PreviousRange }}">Tidligere side</a>
    {{ else }}
        <span>Tidligere side</span>
    {{ end }}
    •
    <a href="/list?forum={{ .ForumId }}&offset={{ .NextRange }}">Næste side</a>
    </center>
{{ end }}
