.content {
    max-width: 1000px;
    margin-inline: auto;
}

.text-post {
    white-space: pre-wrap;
    line-height: 150%;
}

.forum-list {
    padding: 0;
    list-style: none;
}

.dev-info {
    color: gray;
}
