{{ define "content" }}
    <h1>Kategorier</h1>
    <h3>Du kan også <a href="/search">søge i alle opslag</a>.</h3>
    <ul class="forum-list">
        {{ range . }}
            <li>• <a href="/list?forum={{ .Id }}">{{ .Name }}</a></li>
        {{ end }}
    </ul>
{{ end }}
