{{ define "base" }}

<!DOCTYPE html>
<html lang="da">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
</head>
<body>
    <div class="content">
        {{ template "content" . }}
        <footer>
             <hr>
             <center>
             <a href="https://arkiv.volvo240.dk">Startside</a> •
             <a href="https://github.com/camper0008/volvo240-archive" target="_blank">Kildekode</a>
             <p>arkiv.volvo240.dk</p>
             </center>
        </footer>
    </div>
    
</body>
</html>

{{ end }}
