{{ define "content" }}
    <h2><a href="/post?forum={{ .Post.ForumId }}&post={{ .Post.PostId }}">Tilbage</a></h2>
    <form method="post">
        <h1><input name="title" class="editable" value="{{ .Post.Title }}"> <span class="dev-info">({{ .Post.ForumTitle }} #{{ .Post.PostId }})</span> <button type="submit">Gem</button></h1>
        <span><input name="author" value="{{ .Post.Author }}" class="editable"> • {{ .Post.Date }}</span>
        <textarea name="initial-content" class="text-post editable">{{ .Post.Content }}</textarea>
        {{ range .SubPosts }}
            <hr>
            <span class="dev-info">#{{ .SubId }}</span> <input name="sub-reply-author-{{.SubId}}" class="editable" value="{{.Author}}"> • {{ .Date }}
            <textarea name="sub-reply-content-{{.SubId}}" class="text-post editable">{{ .Content }}</textarea>
        {{ end }}
    </form>
{{ end }}
