{{ define "content" }}
    <h2><a href="/">Tilbage</a></h2>
    <h1>{{ .Name }} • Side {{ .Page }}</h1>
    <ul class="forum-list">
        {{ range .Items }}
            {{ if ne .Name "" }}
                <li>• <a href="/post?post={{ .PostId }}&forum={{ .ForumId }}">{{ .Name }}</a></li>
            {{ else }}
                <li>&nbsp;</li>
            {{ end }}
        {{ end }}
    </ul>
    <center>
    {{ if ne .Page 0 }}
        <a href="/list?forum={{ .ForumId }}&page={{ .PreviousPage }}">Tidligere side</a>
    {{ else }}
        <span>Tidligere side</span>
    {{ end }}
    •
    {{ .Page }}
    •
    {{ if eq .Length .Limit }}
        <a href="/list?forum={{ .ForumId }}&page={{ .NextPage }}">Næste side</a>
    {{ else }}
        <span>Næste side</span>
    {{ end }}
    </center>
{{ end }}
