{{ define "content" }}
    <h2><a href="/list?forum={{ .Post.ForumId }}">Tilbage</a></h2>
    <h1>{{ .Post.Title }} <span class="dev-info">({{ .Post.ForumTitle }} #{{ .Post.PostId }})</span>
    </h1>
    <span>{{ .Post.Author }} • {{ .Post.Date }}</span>
    <p class="text-post">{{ .Post.Content }}</p>
    {{ range .SubPosts }}
        <hr>
        <span class="dev-info">#{{ .SubId }}</span> {{ .Author }} • {{ .Date }}</span>
        <p class="text-post">{{ .Content }}</p>
    {{ end }}
{{ end }}
