{{ define "content" }}
    <h2><a href="/arkiv">Tilbage</a></h2>
    <h1>Søg</h1>
    <h3><label for="search">Indtast tekst til at søge efter</label></h3>
    <input id="search" placeholder="{{ .Placeholder }}" value="{{ .Value }}">
    <p class="center" id="search-info"></p>
    <p class="center" id="page-switcher"><a id="prev-page">Tidligere side</a> • <span id="page-counter">0</span> • <a id="next-page">Næste side</a></p>
    <div id="search-results">
        <noscript><h2 class="search-error">Denne side kræver javascript for at fungere.</h2></noscript>
    </div>
    <script src="assets/search.js"></script>
{{ end }}
